.container {
    padding-top: 0px;
    padding-bottom: 1rem;
}

.pContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.textContainer {
    padding: 2rem 0.5rem;
}

.svg {
    padding: 1rem;
}

.carouselBox {
    /* margin-top: 40px; */
    padding-top: 36px;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* 
.cardBox:hover {
    margin-top: -3px;
    transition: all 0.3s ease;
} */
.cardBox:hover .avatorBox {
    margin-top: -40px;
    transition: all 0.3s ease;
}

.avatorBox {
    z-index: 999;
}

.cardBox:hover .cardBody {
    padding-top: 28px;
}

.cardBox {
    border-radius: 8px;
    padding: 8px 8px;
    margin: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.cardBody {
    margin: 8px auto 12px;
    border-radius: 5px;
}

.cardButton {
    display: none !important;
    transition: all 0.3s ease;
}

.cardBody:hover .cardButton {
    transition: all 0.3s ease;
    display: inherit !important;
}

@media screen and (max-width: 650px) {
    .responsiveText {
        font-size: 32px !important;
    }

    .text {
        font-size: 15px !important;
    }

    .pContainer {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 525px) {
    .cardBox {
        padding: 8px 0px;
    }
}