html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #16181A;
  }
}

:root[data-theme=dark] {
  --chakra-colors-chakra-body-bg: #000000 !important;
}

*:focus {
  box-shadow: none !important;
  z-index: 0 !important;
}

*[data-focus] {
  box-shadow: none !important;
  z-index: 0 !important;

}

.nextui-input-helper-text-container {
  position: initial !important;
}

